<mat-nav-list>
  <p class="sidenav-subtitle">メーカー名</p>
  <mat-selection-list>
    <mat-list-option>トヨタ</mat-list-option>
    <mat-list-option>マツダ</mat-list-option>
    <mat-list-option>ホンダ</mat-list-option>
    <mat-list-option>日産</mat-list-option>
  </mat-selection-list>
  <mat-divider />
</mat-nav-list>
<mat-nav-list>
  <p class="sidenav-subtitle">ボディタイプ</p>
  <mat-selection-list>
    <mat-list-option>SUV</mat-list-option>
    <mat-list-option>ハッチバック</mat-list-option>
    <mat-list-option>セダン</mat-list-option>
  </mat-selection-list>
  <mat-divider />
</mat-nav-list>
<mat-nav-list>
  <p class="sidenav-subtitle">パワートレーン</p>
  <mat-selection-list>
    <mat-list-option>エンジン</mat-list-option>
    <mat-list-option>ストロングHV</mat-list-option>
    <mat-list-option>マイルドHV</mat-list-option>
    <mat-list-option>バッテリーEV</mat-list-option>
    <mat-list-option>シリーズHV</mat-list-option>
  </mat-selection-list>
  <mat-divider />
</mat-nav-list>
<mat-nav-list>
  <p class="sidenav-subtitle">駆動方式</p>
  <mat-selection-list>
    <mat-list-option>FF</mat-list-option>
    <mat-list-option>FR</mat-list-option>
  </mat-selection-list>
</mat-nav-list>
