<mat-nav-list>
  <p class="sidenav-subtitle">メーカー名</p>
  <mat-selection-list
    #makers
    (selectionChange)="makerChange(makers.selectedOptions.selected)"
  >
    <mat-list-option
      *ngFor="let makers of carsSidenav.makers"
      [value]="makers.value"
      >{{ makers.title }}</mat-list-option
    >
  </mat-selection-list>
  <mat-divider />
</mat-nav-list>
<mat-nav-list>
  <p class="sidenav-subtitle">ボディタイプ</p>
  <mat-selection-list
    #bodyType
    (selectionChange)="bodyTypeChange(bodyType.selectedOptions.selected)"
  >
    <mat-list-option
      *ngFor="let bodyType of carsSidenav.bodyTypes"
      [value]="bodyType.value"
      >{{ bodyType.title }}</mat-list-option
    >
  </mat-selection-list>
  <mat-divider />
</mat-nav-list>
<mat-nav-list>
  <p class="sidenav-subtitle">パワートレーン</p>
  <mat-selection-list
    #powerTrains
    (selectionChange)="powerTrainChange(powerTrains.selectedOptions.selected)"
  >
    <mat-list-option
      *ngFor="let powerTrain of carsSidenav.powerTrains"
      [value]="powerTrain.value"
      >{{ powerTrain.title }}</mat-list-option
    >
  </mat-selection-list>
  <mat-divider />
</mat-nav-list>
<mat-nav-list>
  <p class="sidenav-subtitle">駆動方式</p>
  <mat-selection-list
    #driveSystems
    (selectionChange)="driveSystemChange(driveSystems.selectedOptions.selected)"
  >
    <mat-list-option
      *ngFor="let driveSystem of carsSidenav.driveSystems"
      [value]="driveSystem.value"
      >{{ driveSystem.title }}</mat-list-option
    >
  </mat-selection-list>
</mat-nav-list>
